name: Android CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: ./MentAlly

    steps:
    - uses: actions/checkout@v4
    
    - name: Set up JDK 11
      uses: actions/setup-java@v4
      with:
        java-version: '11'
        distribution: 'temurin'
        cache: gradle

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
      
    - name: Build Debug APK
      run: ./gradlew assembleDebug
      
    - name: Upload Debug APK
      uses: actions/upload-artifact@v3
      with:
        name: app-debug
        path: MentAlly/app/build/outputs/apk/debug/app-debug.apk

    - name: Decode Keystore
      if: ${{ secrets.RELEASE_KEYSTORE != '' }}
      run: |
        echo "${{ secrets.RELEASE_KEYSTORE }}" | base64 -d > release-keystore.jks
      
    - name: Build Release APK
      if: ${{ secrets.RELEASE_KEYSTORE != '' }}
      run: ./gradlew assembleRelease
      env:
        RELEASE_STORE_FILE: ../release-keystore.jks
        RELEASE_STORE_PASSWORD: ${{ secrets.RELEASE_STORE_PASSWORD }}
        RELEASE_KEY_ALIAS: ${{ secrets.RELEASE_KEY_ALIAS }}
        RELEASE_KEY_PASSWORD: ${{ secrets.RELEASE_KEY_PASSWORD }}
      
    - name: Upload Release APK
      if: ${{ secrets.RELEASE_KEYSTORE != '' }}
      uses: actions/upload-artifact@v3
      with:
        name: app-release
        path: MentAlly/app/build/outputs/apk/release/app-release.apk
        
